
    <!--- body section -->
    
    <div class="container-fluid">
        <div class="well">

      <div class="row-fluid">
        <!--Sidebar content-->
        <div class="span2">

               <ul class="nav nav-list">
                <li class="nav-header">Room Edit</li>
                <li><a href="#">List Room</a></li>
                <li><a href="#">Add Room</a></li>
                <li><a href="#">Edit Room</a></li>
                <li class="nav-header">Setting</li>
                <li><a href="#">Change Password</a></li>
                <li><a href="#">Login History</a></li>
                <li class="divider"></li>
                <li><a href="#">Logout</a></li>
              </ul>


        </div>
        <!--Sidebar content-->

        <!--Body content-->
        <div class="span10">
            <div class="hero-unit">
                <h1>Room Reservation Online</h1>
                <p>Faculty of Engineering , Thammasat University</p>
            </div>
        </div>
        <!--Body content-->
      </div>
    </div>

</div>