	<!--- body section -->
	<div class="container-fluid">
		<div class="well">
		  <div class="row-fluid">
		  	<!--Sidebar content-->
		    <div class="span3">
		    		<form>
					  <fieldset>
					    <legend><i class="icon-search"></i> Search Room</legend>
					    <input type="text" placeholder="Date…"> <br>
					    <input type="text" placeholder="Room…"> <br>
					    <div class="alert alert-success" style="width:170px;">Example: วศ.301</div>
					    <button class="btn btn-primary" type="button">Search...</button>
					  </fieldset>
					</form>
		    </div>
		    <!--Sidebar content-->

		    <!--Body content-->
		    <div class="span9">
				<div class="hero-unit">
	                <h1>Room Reservation Online</h1>
	                <p>Faculty of Engineering , Thammasat University</p>
	        	</div>
			</div>
		    
		    <!--Body content-->
		  </div>
		</div>
	</div>